{% extends "base.html" %}

{% block title %} Front-end development {% endblock title %}
{% block css %}
<style>
    body{
        text-align: center;
        padding-bottom: 1%;
    }

    img{
        padding-top: 50px;
        width: 50%;
        height: 50vh;
    }

    .detail{
        background-color: rgb(211, 211, 246);
        margin-left: 3%;
        margin-right: 3%;
        padding-top: 1%;
    }

    p{
        font-size: 50px;
        text-align: justify;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 3%;
        
    }

    h1{
        font-size: 60px;
        color: rgb(7, 181, 22);
        padding-bottom: 1%;

    }

    ul{
        text-align: left;
        font-size: 50px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 1%;
        color: rgb(9, 44, 221);
    }

    a>h2{
        font-size: 40px;
        border: solid black;
        border-radius: 10px;
        background-color: rgb(41, 23, 247);
        width: 30%;
        margin-left: 30%;
    }

    a>h2:hover{
        background-color: rgb(89, 195, 59);
        font-size: 50px;
        transition: 0.2s;
        color: black;
    }

    ul>h1 {
        color: black;
        font-size: 50px;
    }
    @media all and (max-width:1000px) {
        p {
            font-size: 40px;
        }

        h1 {
            font-size: 50px;
        }

        ul {
            font-size: 40px;
        }

    }

    @media all and (max-width:800px) {
        img {
            height: 45vh;
        }

        p {
            font-size: 35px;
        }

        h1 {
            font-size: 45px;
        }

        ul {
            font-size: 35px;
        }

    }

    @media all and (max-width:700px) {
        a>h2 {
            font-size: 30px;
        }

        a>h2:hover {
            font-size: 35px;
        }

    }

    @media all and (max-width:540px) {
        img {
            height: 35vh;
        }

        p {
            font-size: 30px;
        }

        h1 {
            font-size: 40px;
        }

        ul {
            font-size: 30px;
        }

        a>h2 {
            font-size: 25px;
        }

        a>h2:hover {
            font-size: 30px;
        }

    }

    @media all and (max-width:480px) {
        img {
            height: 25vh;
        }

        p {
            font-size: 20px;
        }

        h1 {
            font-size: 30px;
        }

        ul {
            font-size: 20px;
        }

        a>h2 {
            font-size: 15px;
        }

        a>h2:hover {
            font-size: 20px;
        }

    }

    @media all and (max-width:340px) {
        img {
            height: 20vh;
        }

        p {
            font-size: 25px;
        }

        h1 {
            font-size: 25px;
        }

        ul {
            font-size: 15px;
        }

        a>h2 {
            font-size: 10px;
        }

        a>h2:hover {
            font-size: 15px;
        }
    }


</style>

{% endblock css %}

{% block body %}

<img src="/static/front-end.jpg" alt="Connection Problem">

<div class="detail">
    <p>
        Web-designing / Front-end development is the skill that never expires. Everyone wants their
        website or webpage to look unique, stylish and attractive. So, the role of front-end developer
        is permanent in present time and in future too. No AI tool can replace the creativity of any developer.
        All big Tech companies prefer a front-end developer / web-designer rather than an AI tool. 
        
        <br><br> To enhance your career in Web-designing, we are offering the  </p>  <h1>FRONT-END DEVELOPEMENT</h1> <p> course to make you grow up in the world
        of technology.After completing this course you will be eligible to get jobs in fields like:
        <br> <ul>
            <li>Front-end developer</li>
            <li>Website-designer</li>
            <li>Developing web-pages</li>
            <li>Web application developer</li>
            <li>UX designer</li>
            <li>UI designer</li>
        </ul></p>  
            <p>You are just one course away from your job of thousand dollars. Just fill up the 
             registratraion from to enroll in FRONT-END DEVELOPMENT course.
    </p>
    
    <ul>
        <li>Course duraton: 1 months</li>
        <li>Fee: USD 50/month </li>
        <li>Live Classes</li>
        <li>Professional Projects</li>
        <li>Mon - Friday</li>
    </ul>

    <a href="registration"><h2>Enroll now!</h2></a>
    
    <ul class="learn">
        <h1>What will you learn</h1> <br>
        <li>HTML (beggining to advance)</li>
        <li>CSS (beggining to advance)</li>
        <li>Animations</li>
        <li>JavaScript (beggining to advance)</li>
        <li>Using Bootstrap</li>

    </ul>
      
</div>

{% endblock body %}